.bgImg{
    width: 100%;
    height: 700px;
}
.imgtest{
    position: relative;
}
.imgitem{
    position: absolute;
    top: -600px;
    left: 110%;
}
.imgitem1{
    position: absolute;
    top: -600px;
    right: -300%;
}
.imgtest{
    width: 200px;
    height: 200px;
}
.buttonimg{
    position: absolute;
    top: -300px;
    left: 30px;
    z-index: 100;
    display: flex;
    width: 1000px;
}
.buttonitem{
    width: 300px;
    margin: 10px;
}
.imgbut{
    width: 70%;
}
.img{
    position: absolute;
    top: -550px;
    left: 135%;
    z-index: 1000;
}
.kinh{
    width: 100px;
    opacity: 0.5;
}